<!--begin::Error-->
<div class="d-flex flex-row-fluid flex-column bgi-size-cover bgi-position-center bgi-no-repeat error-wrapper h-100"
    style="background-image: url('./assets/images/empty/error.jpg');">
    <!--begin::Content-->
    <h1 class="text-dark m-0" style="font-size: 10rem;">{{ errorNumber }}</h1>
    <p class="font-20 text-muted font-weight-normal">
        OOPS! Something went wrong here
    </p>
    
    <a class="text-dark font-weight-bold font-14 mt-4" routerLink="/store/card-login">Login</a>
    <!--end::Content-->
</div>
<!--end::Error-->