<app-store-toolbar></app-store-toolbar>
<section class="page-wrapper d-flex flex-column h-100">
    <div class="grid-container">
      <div class="card-wrapper d-flex flex-column justify-content-start">
        <div>
          <div class="mt-0 p-0">
            <div class="d-flex justify-content-center align-items-center mobile-cart-block">
            </div>
            <section class="termsinformation">
                <h1>{{ 'TERMS' | translate }}</h1>
                <p>{{ 'STORECONDITION.INFO' | translate }}</p>
                <ul>
                  <li>{{ 'STORECONDITION.ROLE1' | translate }}</li>
                  <li>{{ 'STORECONDITION.ROLE2' | translate }}</li>
                  <li>{{ 'STORECONDITION.ROLE3' | translate }}</li>
                  <li>{{ 'STORECONDITION.ROLE4' | translate }}
                    <a class="cursor-pointer font-14" href="https://jazeel.al-sadhan.com/store" target="_blank">jazeel.al-sadhan.com/store</a> 
                  </li>
                  <li>{{ 'STORECONDITION.ROLE5' | translate }}</li>
                  <li>{{ 'STORECONDITION.ROLE6' | translate }}</li>
                  <li>{{ 'STORECONDITION.ROLE7' | translate }}</li>
                  <li>{{ 'STORECONDITION.ROLE8' | translate }}</li>
                  <li>{{ 'STORECONDITION.ROLE9' | translate }}</li>
                  <li>{{ 'STORECONDITION.ROLE10' | translate }}</li>
                  <li>{{ 'STORECONDITION.ROLE11' | translate }}</li>
                  <li>{{ 'STORECONDITION.ROLE12' | translate }}</li>
                </ul> 
              </section>
          </div>
        </div>
      </div>  
    </div>
  </section>