@import "style";
.sidebar-wrapper {
  width: 0;
  max-width: 240px;
  background-color: $white;
  transition: all 0.4s ease;

  @include small-screen {
    width: 70px;
    min-width: 70px;

    span {
      display: none;
    }
  }

  &.opened {
    width: 240px;

    span {
      display: inline-block;
    }

    li {
      margin: 0 !important;
    }

    a.list-item  {
      padding: 12px 12px 12px 16px;
      justify-content: start !important;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 0;
        right: 0;
        top: 0;
        transition: all 0.35s ease;
        background: #DB1725;
      }

      &:hover {
        background: #f0f3fa !important;
        border-color: #f0f3fa !important;

        &::before {
          content: "";
          position: absolute;
          width: 4px;
          height: 100%;
          right: 0;
          top: 0;
          transition: all 0.35s ease;
          background: #DB1725;
        }

        &.rtl {
          &::before {
            content: "";
            left: 0;
            right: auto;
          }
        }
      }

      &.active {
        transition: all 0.35s ease;
        box-shadow: inset 0px 0px 1px rgb(0 0 0 / 25%);
        background: #f0f3fa !important;
        border-color: #f0f3fa !important;
      }

      &.rtl::before {
        left: 0;
        right: auto;
      }
    }

    .sidebar-content {
      opacity: 1;
      width: 240px;
    }
  }

  .sidebar-logo {
    height: 60px;
    border-bottom: 1px solid #f2f4f9;
    border-inline-end: 1px solid #f2f4f9;
  }

  .sidebar-content {
    width: 70px;
    padding-top: 60px;
    position: relative;
    z-index: 5;
    box-shadow: 0 8px 10px 0 rgb(183 192 206 / 20%);
    opacity: 0;

    @include small-screen {
      opacity: 1;
    }

    .menu-items {
      list-style-type: none;
      padding: 0;

      li {
        min-height: 30px;
        margin: 8px 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        a.list-item {
          // color: $black;
          display: inline-block;
          justify-content: center;
          color: #818bae;

          &.active, &:hover {
            transition: all 0.35s ease;
            background: transparent;
            border-color: none;
            color: #DB1725;

            .menuitems-icon {
              background: #DB1725;
              transition: all 0.35s ease;
            }

            svg {
              fill: #fff;
              transform: rotateX(360deg);
              transition: all 0.35s ease;
              stroke: #fff;
            }
          }

          svg {
            min-width: 20px;
          }

          .menuitems-icon {
            background-color: #f1f9fb;
            border-radius: 50%;
            padding: 7px;
          }

          .content-child {
            position: relative;
            display: block;
            transition: all 0.3s ease;
            margin: 4px 0;
            color: #818bae;

            &::after {
              content: "";
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: transparent;
              border: 1px solid #a9b4ca;
              position: absolute;
              left: -30px;
              top: 8px;
              transition: all 0.3s ease-in-out;
            }

            &.rtl::after {
              display: none;
            }

            &.rtl::before {
              content: "";
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: transparent;
              border: 1px solid #a9b4ca;
              position: absolute;
              right: -29px;
              top: 7px;
              transition: all 0.4s ease-in-out;
            }

            &:hover {
              color: #727cf5;
              margin-left: 2px;
            }

            &:hover::after {
              border: 1px solid #727cf5;
              background: #727cf5;
            }
          }
        }
      }
    }
  }
}
