// /* Global Styles */

// * {
//     font-family: 'Roboto', Arial, sans-serif;
//     color: #616161;
//     box-sizing: border-box;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//   }

//   body {
//     margin: 0;
//   }

//   .container {
//     display: flex;
//     flex-direction: row;
//   }

//   router-outlet + *  {
//     padding: 0 16px;
//   }

// //   /* Text */

// //   h1 {
// //     font-size: 32px;
// //   }

// //   h2 {
// //     font-size: 20px;
// //   }

// //   h1, h2 {
// //     font-weight: lighter;
// //   }

// //   p {
// //     font-size: 14px;
// //   }

// //   /* Hyperlink */

// //   a {
// //     cursor: pointer;
// //     color: #ef0027;
// //     text-decoration: none;
// //   }

// //   a:hover {
// //     opacity: 0.8;
// //   }

// //   /* Input */

//   input {
//     font-size: 14px;
//     border-radius: 2px;
//     padding: 8px;
//     margin-bottom: 16px;
//     border: 1px solid #BDBDBD;
//   }

//   label {
//     font-size: 12px;
//     font-weight: bold;
//     margin-bottom: 4px;
//     display: block;
//     text-transform: uppercase;
//    }

//   /* Button */
//   .button, button {
//     display: inline-flex;
//     align-items: center;
//     padding: 8px 16px;
//     border-radius: 2px;
//     font-size: 14px;
//     cursor: pointer;
//     background-color: #ef0027;
//     color: white;
//     border: none;
//   }

//   .button:hover, button:hover {
//     opacity: 0.8;
//     font-weight: normal;
//   }

//   .button:disabled, button:disabled {
//     opacity: 0.5;
//     cursor: auto;
//   }

//   // /* Fancy Button */

  // .fancy-button {
  //   background-color: white;
  //   color: #ef0027;
  // }

  // .fancy-button i.material-icons {
  //   color: #ef0027;
  //   padding-right: 4px;
  // }

  .cart-item, .shipping-item {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
  }

  @import 'style';

.nav-pills {
  border: 1px solid #007BFF;
  padding: 0;
}

.stores {
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 7px;
}
.storesList {
  padding-top: 30px;
  column-gap: 10px;
}
.storesListContainer {
  background-color: $white;
  padding: 10px 16px 10px 16px;
  border: 1px solid $light;
  border-radius: 7px;
  width: 100%;
  box-shadow: 0 8px 10px 0 rgb(183 192 206 / 50%);
  border-radius: 15px;
  margin-bottom: 10px;
  .item-image{
    height: 180px;
    padding-bottom: 10px;
  }
 img{
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
 }
 .text-price{
   color: #007BFF;
 }
}



.page-wrapper{
  overflow: auto;
    max-height: 90%;
}
.storesList {
  padding: 30px 0;
}

.btn-body{
  color: #047835;
  background: white;
  border-radius: 14px !important;
  border: 1px solid;
  span{
    font-weight: 600;
    padding: 4px;
  }
}
.btn-body:hover{
color: #ffffffc9;
background : #047835;
}

@include mobile-screen{
  .mobile-cart-block{
    display: block !important;
    text-align: center;
  }
  .page-wrapper {
    max-height: 84%;
  }
}