<app-store-toolbar [cartCount]="cartCount"></app-store-toolbar>
<section class="page-wrapper">
  <div>
    <mat-radio-group class="w-100 text-start" aria-label="Product Type" (change)="changeProductType($event)" [value]="productTypeId">
      <mat-radio-button [value]="1"  >{{ 'STORE.cafeteria' | translate }}</mat-radio-button>
      <mat-radio-button [value]="2" >{{ 'STORE.outlet' | translate }}</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="d-flex justify-content-between align-items-start">
    <mat-form-field class="w-75 text-start" appearance="outline">
      <mat-label>{{ 'STORE.SEARCH' | translate }}</mat-label>
      <input type="Search" autocomplete="off" #search (keyup)="filterProducts(search.value)" matInput>
    </mat-form-field>
    <button  mat-button class="main-btn btn-body font-18"  (click)="resetCart()">
      <div class="d-flex align-items-center">
         <span>Reset</span>
          <!-- <span class="material-icons">delete</span> -->
      </div>
    </button>
  </div>
  <div class="storesList">
      <div class="row col-sm-12 m-0 mt-2">
        <div class="col-sm-3" *ngFor="let item of products">
          <div class="storesListContainer" [ngClass]="{'disabled-div': (item.remainInStock != undefined && item.remainInStock <= 0) }">
            <div class="d-flex justify-content-center align-items-center item-image">
              <img [src]="'assets/images/products/'+ item.code+'.png'" alt="card_toplogo" />
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <p class="p-0 m-0">
                <span class="pr-1 pl-1 text-middle font-weight-bold">{{ lang === 'en' ? item.nameFl : item.nameSl }}</span>
                <span class="pr-1 pl-1 text-center font-weight-bold">{{ item.code }}</span>

              </p>
            </div>
            <div class="d-flex justify-content-center align-items-start" *ngIf="!isInCart(item)" >
              <button  mat-button class="main-btn btn-body font-18"  (click)="addToCart(item,0)">
                <div class="d-flex align-items-center">                   
                    <span >{{'STORE.ADDTOCART' | translate}}</span>
                </div>
              </button>
            </div>
            <div class="d-flex justify-content-center align-items-start" *ngIf="isInCart(item)" >
              <button  mat-button class="main-btn btn-body font-18"  (click)="addToCart(item, 1)">
                <div class="d-flex align-items-center">
                    <span class="material-icons">add</span>
                </div>
              </button>
              <span style="padding: 7px 12px;"> {{item.quantity}} </span>
              <button  mat-button class="main-btn btn-body font-18"  (click)="addToCart(item, -1)">
                <div class="d-flex align-items-center">
                    <span class="material-icons">remove</span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>


</section>
